{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to BookFindr</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Your AI Powered Book Recommender <br>Powered by ChatGPT <img style="height: 1.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/1024px-ChatGPT_logo.svg.png" alt="ChatGPT">
          <br><span style="font-weight: 900;">Using AI to empower the next generation of readers and thinkers!</span>
          </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/assets/img/book (2).png" class="img-fluid" alt="" style="max-width: 400px;">        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
      <center><h2 style="margin-top: 25px;">Search across multiple book stores and libraries all in one place <a href="/book-recommender/search/">here</a></h2></center>

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
      <header class="section-header">
          <h2 style="font-size: 2rem; margin-top: 3.5rem;">Our Values and Goals</h2>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                  <img src="/static/assets/img/brain.png" class="img-fluid" alt="artificial intelligence">
                  <h3>Bring in a helping hand from AI</h3>
                  <p>Unlock the power of AI to streamline tasks, offer insights, and enhance productivity like never before.</p>
              </div>
          </div>


          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="/static/assets/img/adjust.png" class="img-fluid" alt="personalized recommendations">
              <h3>Personalized Book Recommendations</h3>
              <p>
                By analyzing user interests, reading history, and age and specific needs, the app strives to
                suggest books that align with the individual's interests, reading habits, and specified criteria.
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="/static/assets/img/continuous-improvement.png" class="img-fluid" alt="continuous improvement" >
              <h3>Continuous Improvement</h3>
              <p>
                We strive to improve our services by listening to feedback, learning from data, and staying
                in tune with your needs. Our goal is to enrich the experiences of both current and future readers and
                thinkers, guiding them through a more profound journey of reading and study.
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
          <p>BookFindr offers a list of features</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="/static/assets/img/product.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>AI Book Recommendation</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Search across bookstores and libraries</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Retrieves data from bookstores</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Reading Progress Log (Coming Soon)</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Reading List/Queue (Coming Soon)</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Interactive Social Forum (Coming Soon)</h3>
                </div>
              </div>
              <p>Features as of August 2023</p>
            </div>

        </div> <!-- / row -->


        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->

    </section><!-- End Features Section -->

    <!-- ======= Pricing Section =======
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Pricing</h2>
          <p>Check our Pricing</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #07d5c0;">Free Plan</h3>
              <div class="price"><sup>$</sup>0<span> / mo</span></div>
              <img src="/static/assets_vendor/img/pricing-free.png" class="img-fluid" alt="">
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <span class="featured">Featured</span>
              <h3 style="color: #65c600;">Starter Plan</h3>
              <div class="price"><sup>$</sup>19<span> / mo</span></div>
              <img src="/static/assets_vendor/img/pricing-starter.png" class="img-fluid" alt="">
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #ff901c;">Business Plan</h3>
              <div class="price"><sup>$</sup>29<span> / mo</span></div>
              <img src="/static/assets_vendor/img/pricing-business.png" class="img-fluid" alt="">
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 style="color: #ff0071;">Ultimate Plan</h3>
              <div class="price"><sup>$</sup>49<span> / mo</span></div>
              <img src="/static/assets_vendor/img/pricing-ultimate.png" class="img-fluid" alt="">
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>

        </div>

      </div>

 End Pricing Section --> <!-- When you monetize the services later, you can include the pricing section-->


  </main><!-- End #main -->
{% endblock %}